/* poppins-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('./Fonts/poppins-v22-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./Fonts/poppins-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./Fonts/poppins-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
  }

  body {
    min-height: 100vh;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Poppins', sans-serif;
  }

  header {
    min-width: 100%;
    align-content: center;
    padding: 1em; /* Would a div around the header content make it more scalable? It's constrained to about 50vw on desktop */
  }

  header h1 { 
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    margin: 1em 0;
    /* Is line-height okay? */
  }

  h1 span {
    display: block;
    font-weight: 600;
  }

  header p {
    text-align: center;
    color: hsl(212, 6%, 44%); /* Review all font colors when you're finishing */
  }

  main {
    min-width: 100%;
    align-content: center;
    padding: 2em;
  }

  .grid-container {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr;
    align-content: center; /* Do you need this here or does application on the body do the trick? */
  }

  .content-box {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.3em 0.1em hsl(212, 6%, 44%);
    padding: 1em;
  }

  .top-color-lightblue {
    border-top: 0.2em solid hsl(180, 62%, 55%);
  }

  .top-color-red {
    border-top: 0.2em solid hsl(0, 78%, 62%);
  }

  .top-color-yellow {
    border-top: 0.2em solid hsl(34, 97%, 64%);
  }

  .top-color-darkblue {
    border-top: 0.2em solid hsl(212, 86%, 64%);
  }

  .content-box img {
    width: 15%;
    align-self: end;
  }

  .content-box p {
    margin-bottom: 2em;
  }